<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="left"><img src="images/drawers.jpg" alt="" /></div>
      <div class="right">
        <h1>
          Shift the overall look and feel by adding these wonderful touches to
          furniture in your home
        </h1>
        <p>
          Ever been in a room and felt like something was missing? Perhaps it
          felt slightly bare and uninviting. I’ve got some simple tips to help
          you make any room feel complete.
        </p>
        <div class="person">
          <img src="images/avatar-michelle.jpg" alt="" />
          <h3>Michelle Appleton</h3>
          <p>28 Jun 2020</p>
        </div>
      </div>
    </div>
  </body>
</html>
