* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  height: 30px;
  width: auto;
  border-radius: 50px;
}
h1 {
  font-size: 28px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.testimonial-1 {
  display: grid;
  grid-column: span 2;
}
.testimonial-3 {
  display: grid;
  grid-row: span 2;
}
.testimonial-5 {
  display: grid;
  grid-column: span 2;
}
